// Any of our settings tables
.conf-schedule-post {

	.label-block {
		display: block;
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	input[type="text"],
	input[type="url"],
	select {
		width: 75%;

		&.inline {
			width: auto;
		}

	}

}

#conf-sch-event-children {
	display: block;
	background: #f3f3f3;
	margin: 15px 0 0 0;
	padding: 15px;

	ul {
		list-style: disc;
		list-style-position: outside;
		margin-left: 30px;
	}

}

